/* isi design tokens */
:root {
  --isi-text-color: #484848;
  --isi-body-font-size: 16px;
  --isi-line-height: 1.5;
  --isi-list-line-height: 1.7;
  --isi-list-item-margin-bottom: 10px;
  --isi-inline-padding-bottom: 64px;
  --isi-list-item-padding-y: 0px;
  --isi-heading-color: var(--brand-teal-muted);
  --isi-heading-font-size: 18px;
  --isi-heading-font-weight: 700;
  --isi-heading-line-height: 22px;
  --isi-heading-margin-bottom: 0;
  --isi-bar-z-index: 5;
  --isi-bar-expanded-z-index: 10;
  --isi-bar-background: var(--background-color);
  --isi-section-border-width: 1px;
  --isi-section-border-color: #d1d1d1;
  --isi-bar-border-width: var(--isi-section-border-width);
  --isi-bar-border-color: var(--isi-section-border-color);
  --isi-bar-height: 90px;
  --isi-bar-padding: 13px 13px 8px;
  --isi-bar-height-transition-duration: 0.3s;
  --isi-bar-height-transition-easing: ease-in-out;
  --isi-bar-expanded-max-height: 70vh;
  --isi-content-max-width: var(--max-width-site);
  --isi-bar-content-gap: 0 24px;
  --isi-bar-col-flex-basis: 45%;
  --isi-bar-heading-padding-bottom: 18px;
  --isi-bar-paragraph-line-height: 24px;
  --isi-bar-paragraph-padding-bottom: 8px;
  --isi-bar-list-padding-left: 20px;
  --isi-bar-list-margin-bottom: 8px;
  --isi-bar-link-font-weight: 600;
  --isi-toggle-right: 15px;
  --isi-toggle-top: 13px;
  --isi-toggle-border-width: 2px;
  --isi-toggle-size: 24px;
  --isi-toggle-color: var(--brand-teal-muted);
  --isi-toggle-hover-color: var(--link-hover-color);
  --isi-toggle-transition-duration: 0.2s;
  --isi-toggle-z-index: 2;
  --isi-toggle-icon-size: 12px;
  --isi-toggle-icon-bar-thickness: 2px;
  --isi-toggle-icon-bar-radius: 1px;
  --isi-bar-content-padding-x-mobile: 16px;
  --isi-bar-content-padding-x-desktop: 32px;
  --isi-toggle-right-mobile: 16px;
  --isi-toggle-right-desktop: 32px;
}

@media (width <= 768px) {
  :root {
    --isi-bar-height: 109px;
    --isi-bar-padding: 0;
    --isi-bar-heading-color: var(--brand-teal);
    --isi-bar-heading-padding-bottom: 8px;
    --isi-bar-paragraph-padding-bottom: 16px;
    --isi-toggle-right: var(--isi-toggle-right-mobile);
  }
}

@media (width >= 992px) {
  :root {
    --isi-toggle-right: var(--isi-toggle-right-desktop);
  }
}
